@use '../../styles/variables';
@use '../../styles/mixins';

.about-container {
  height: 100%;
  @include mixins.flex-dir-ai-jc-gap(column, center, center, 3rem);
  color: variables.$clr-primary-light;

  span {
    // color: variables.$clr-tertiary-light;
    color: variables.$clr-tertiary-light;
    font-weight: 600;
  }
}
