.box-container {
  min-width: 50px;
  height: 20px;
  // border-radius: 100px;
  // box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #bc13fe, 0 0 0.1rem #bc13fe,
  //   0 0 0.2rem #bc13fe, inset 0 0 1rem #bc13fe;
  // box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #0ba9ca, 0 0 0.1rem #0ba9ca,
  //   0 0 0.2rem #0ba9ca, inset 0 0 1rem #0ba9ca;

  -webkit-box-shadow: 0px 0px 6px 1px rgb(10, 155, 191), inset 0px 0px 1px 1px rgb(10, 155, 191);
  -moz-box-shadow: 0px 0px 6px 1px rgb(10, 155, 191), inset 0px 0px 1px 1px rgb(10, 155, 191);
  box-shadow: 0px 0px 6px 1px rgb(10, 155, 191), inset 0px 0px 1px 1px rgb(10, 155, 191);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.7rem;
}
