.box-container {
  min-width: 50px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.7rem;
}

.box-dark-theme {
  // box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #bc13fe, 0 0 0.1rem #bc13fe,
  //   0 0 0.2rem #bc13fe, inset 0 0 1rem #bc13fe;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem rgb(10, 155, 191),
    0 0 0.1rem rgb(10, 155, 191), 0 0 0.2rem rgb(10, 155, 191), inset 0 0 1rem rgb(10, 155, 191);

  // -webkit-box-shadow: 0px 0px 6px 1px rgb(10, 155, 191), inset 0px 0px 1px 1px rgb(10, 155, 191);
  // -moz-box-shadow: 0px 0px 6px 1px rgb(10, 155, 191), inset 0px 0px 1px 1px rgb(10, 155, 191);
  // box-shadow: 0px 0px 6px 1px rgb(10, 155, 191), inset 0px 0px 1px 1px rgb(10, 155, 191);
}

.box-light-theme {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
