@use 'variables';
@use 'mixins';

html {
  // background-color: variables.$primaryBG;
  // color: variables.$primaryFont;
  // font-family: variables.$roboto;
  font-size: 62.5%;
  letter-spacing: 0.05rem;
  font-family: 'Montserrat', sans-serif;
  // scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;
  padding: 2rem;
  height: 100vh;
  transition: variables.$animation-theme-transition;
}

.header-container {
  grid-area: 1 / 1 / 2 / 13;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-container {
  grid-area: 2 / 1 / 9 / 4;
}

.main-container {
  grid-area: 2 / 4 / 9 / 13;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.skip-link {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: aqua;
  padding: 1rem;
  translate: 0 -100%;
  transition: translate 150ms ease-in-out;
}

.skip-link:focus {
  translate: 0;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skills-container,
.main-page-container {
  min-height: 600px;
}

.content-container {
  @include mixins.flex-dir-ai-jc-gap(column, initial, initial, 3rem);
  width: 100%;
}

// when switching to dark mode, the neon boxes could flash as if they were turning on

input,
textarea,
button {
  @include mixins.input-textarea-btn;
}

input,
textarea {
  min-width: 100%;
}

textarea {
  height: auto;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input:invalid:not(:focus),
textarea:invalid:not(:focus) {
  animation: variables.$animation-input-invalid;
}

input:placeholder-shown:not(:focus),
textarea:placeholder-shown:not(:focus) {
  animation: none;
}

form:invalid [type='submit'] {
  cursor: not-allowed;
}

.dark-theme {
  @include mixins.theme-dark;
  .icon {
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -webkit-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -moz-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    filter: invert(25%) sepia(5%) saturate(326%) hue-rotate(202deg) brightness(89%) contrast(86%);
    -webkit-filter: invert(25%) sepia(5%) saturate(326%) hue-rotate(202deg) brightness(89%)
      contrast(86%);
    transition: all 0.3s;
  }
}

.light-theme {
  @include mixins.theme-light;
  .icon {
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -webkit-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -moz-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    background-color: rgb(255, 255, 255);
    filter: invert(100%);
    -webkit-filter: invert(100%);
    transition: all 0.3s;
  }
}

//change this one or the UL on MainPage
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  // padding: 1rem 0;
}

.error {
  color: rgba(255, 0, 0, 1);
  font-size: 1.2rem;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
  }

  main {
    display: flex;
    flex-direction: column;
  }
}
