html {
  // background-color: variables.$primaryBG;
  // color: variables.$primaryFont;
  // font-family: variables.$roboto;
  font-size: 62.5%;
  letter-spacing: 0.05rem;
  font-family: 'Montserrat', sans-serif;
}

body {
  flex-direction: column;
}

.App {
  height: 100vh;
}

.dark-theme {
  background-color: rgba(66, 66, 69, 1);
  color: rgba($color: rgb(255, 255, 255), $alpha: 1);
  transition: all 0.3s;

  button {
    border: 1px solid rgb(150, 150, 150);
    color: rgba($color: rgb(255, 255, 255), $alpha: 1);
    padding: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(255, 255, 255);
    color: rgba($color: rgb(0, 0, 0), $alpha: 1);
    transition: all 0.3s;
  }

  .icon {
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -webkit-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -moz-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    filter: invert(25%) sepia(5%) saturate(326%) hue-rotate(202deg) brightness(89%) contrast(86%);
    -webkit-filter: invert(25%) sepia(5%) saturate(326%) hue-rotate(202deg) brightness(89%)
      contrast(86%);
  }
}

.light-theme {
  background-color: rgb(255, 255, 255);
  color: rgba($color: rgb(0, 0, 0), $alpha: 1);
  transition: all 0.3s;

  button {
    border: 1px solid rgb(150, 150, 150);
    color: rgba($color: rgb(0, 0, 0), $alpha: 1);
    padding: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(66, 66, 69);
    color: rgba($color: rgb(255, 255, 255), $alpha: 1);
    transition: all 0.3s;
  }

  .icon {
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -webkit-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -moz-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    background-color: rgb(255, 255, 255);
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}

//change this one or the UL on MainPage
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0;
}

// @keyframes lightToDarkTheme {
//   0% {
//     background-color: rgba(255, 255, 255, 1);
//   }
//   20% {
//     background-color: rgb(30, 144, 255);
//   }
//   40% {
//     background-color: rgb(0, 0, 255);
//   }
//   60% {
//     background-color: rgb(0, 0, 139);
//   }
//   80% {
//     background-color: rgb(73, 73, 73);
//   }
//   100% {
//     background-color: rgba(66, 66, 69, 1);
//   }
// }
