@use 'variables';
@use 'mixins';

// html5 tag > content-container >
// when switching to dark mode, the neon boxes could flash as if they were turning on

html {
  // background-color: variables.$primaryBG;
  // color: variables.$primaryFont;
  // font-family: variables.$roboto;
  font-size: 62.5%;
  letter-spacing: variables.$letter-spacing;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 4rem;
  row-gap: 3rem;
  padding: 2rem;
  height: 100vh;
  transition: variables.$animation-theme-transition;
}

.header-container {
  grid-area: 1 / 1 / 2 / 13;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-container {
  grid-area: 2 / 1 / 6/ 4;
}

.main-container {
  grid-area: 2 / 4 / 6/ 13;
}

.aside-container,
.main-container {
  min-height: 600px;
  padding: 3rem;
  width: 100%;
}

.content-container {
  @include mixins.flex-dir-ai-jc-gap(column, initial, initial, 3rem);
  width: 100%;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

input,
textarea,
button {
  @include mixins.input-textarea-btn;
}

input,
textarea {
  min-width: 100%;
}

textarea {
  height: auto;
  resize: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input:invalid:not(:focus),
textarea:invalid:not(:focus) {
  animation: variables.$animation-input-invalid;
}

input:placeholder-shown:not(:focus),
textarea:placeholder-shown:not(:focus) {
  animation: none;
}

form:invalid [type='submit'] {
  cursor: not-allowed;
}

.dark-theme {
  @include mixins.theme-dark;
  .icon {
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -webkit-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -moz-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    filter: invert(25%) sepia(5%) saturate(326%) hue-rotate(202deg) brightness(89%) contrast(86%);
    -webkit-filter: invert(25%) sepia(5%) saturate(326%) hue-rotate(202deg) brightness(89%)
      contrast(86%);
    transition: all 0.3s;
  }
}

.light-theme {
  @include mixins.theme-light;
  .icon {
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -webkit-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    -moz-box-shadow: 0px 0px 0px 8px rgb(0, 0, 0) inset;
    background-color: rgb(255, 255, 255);
    filter: invert(100%);
    -webkit-filter: invert(100%);
    transition: all 0.3s;
  }
}

//change this one or the UL on MainPage
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  // padding: 1rem 0;
}

@keyframes clip-path-dark {
  0% {
    clip-path: variables.$bg-transition-left;
    background-color: variables.$bg-clr-light;
  }
  100% {
    clip-path: variables.$bg-transition-initial;
    background-color: variables.$bg-clr-dark;
  }
}

@keyframes clip-path-light {
  0% {
    clip-path: variables.$bg-transition-right;
  }
  100% {
    clip-path: variables.$bg-transition-initial;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
  }

  main,
  .main-container,
  aside,
  .aside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    margin: 0;
    gap: 4rem;
    padding: 3rem 0;
  }

  .light-theme main,
  .light-theme .main-container {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    z-index: initial;
    box-shadow: none;
  }

  aside,
  .aside-container {
    padding-top: 13rem;
  }

  .content-container {
    gap: 4rem;
  }
}
