@use 'variables';

@mixin box-shadow-multi-browsers($color) {
  box-shadow: $color;
  -moz-box-shadow: $color;
  -webkit-box-shadow: $color;
}

@mixin theme-light {
  background-color: variables.$bg-clr-light;
  // background: -moz-linear-gradient(90deg, variables.$bg-clr-light 75%, rgba(240, 240, 240, 1) 75%);
  // background: -webkit-linear-gradient(
  //   90deg,
  //   variables.$bg-clr-light 75%,
  //   rgba(240, 240, 240, 1) 75%
  // );
  // background: linear-gradient(90deg, variables.$bg-clr-light 75%, rgba(240, 240, 240, 1) 75%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#757575",GradientType=1);
  // color: variables.$clr-primary-light;

  .skip-link-container a {
    background-color: rgba(240, 240, 240, 1);
    color: variables.$clr-primary-light;
  }

  .main-container {
    background: rgba(255, 255, 255, 0.055);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
  }

  input,
  textarea,
  button {
    @include box-shadow-multi-browsers(variables.$clr-initial-light);
    // border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
  }

  input:invalid,
  textarea:invalid {
    @include box-shadow-multi-browsers(variables.$clr-invalid-light);
  }

  input:focus,
  textarea:focus,
  button:focus {
    @include box-shadow-multi-browsers(variables.$clr-focus-light);
  }

  input:valid,
  textarea:valid,
  form:valid [type='submit'] {
    @include box-shadow-multi-browsers(variables.$clr-valid-light);
  }

  form:invalid [type='submit'] {
    color: variables.$clr-secondary-light;
  }

  input:placeholder-shown,
  textarea:placeholder-shown {
    @include box-shadow-multi-browsers(variables.$clr-initial-light);
  }

  .box-container {
    background-color: variables.$bg-clr-white;
    // border-radius: 15px;
  }
}

@mixin theme-dark {
  background-color: variables.$bg-clr-dark;
  color: variables.$clr-primary-dark;

  .skip-link-container a {
    background-color: rgba(74, 74, 74, 1);
    color: variables.$clr-primary-dark;
  }

  .aside-container,
  .main-container {
    background-color: rgba(74, 74, 74, 1);
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem;
  }

  input,
  textarea,
  button {
    @include box-shadow-multi-browsers(variables.$clr-initial-dark);
  }

  input:invalid,
  textarea:invalid {
    @include box-shadow-multi-browsers(variables.$clr-invalid-dark);
  }

  input:focus,
  textarea:focus,
  button:focus {
    @include box-shadow-multi-browsers(variables.$clr-focus-dark);
  }

  input:valid,
  textarea:valid,
  form:valid [type='submit'] {
    @include box-shadow-multi-browsers(variables.$clr-valid-dark);
  }

  form:invalid [type='submit'] {
    color: variables.$clr-secondary-light;
  }

  input:placeholder-shown,
  textarea:placeholder-shown {
    @include box-shadow-multi-browsers(variables.$clr-initial-dark);
  }
}

@mixin input-textarea-btn {
  font-family: inherit;
  color: inherit;
  height: 20px;
  padding: 1.7rem;
}

@mixin flex-dir-ai-jc-gap($dir: row, $ai: initial, $jc: initial, $gap: 0) {
  display: flex;
  flex-direction: $dir;
  align-items: $ai;
  justify-content: $jc;
  gap: $gap;
}

@mixin width-height($w-property, $h-property, $w-size: 0, $h-size: 0) {
  #{$w-property}-width: $w-size;
  #{$h-property}-height: $h-size;
}

@mixin box {
  font-size: 1.2rem;
  font-family: inherit;
  color: inherit;
  @include flex-dir-ai-jc-gap(row, center, center);
  @include width-height(min, max, 50px, auto);
  padding: variables.$padding-box;
}
