// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@use 'variables';

h1 {
  font-size: variables.$font-size-xxl;
  font-weight: 200;
}

h2 {
  font-size: variables.$font-size-xl;
  font-weight: 700;
}

h3 {
  font-size: variables.$font-size-lg;
  color: rgb(150, 150, 150);
}

h4 {
  font-size: variables.$font-size-lg;
  line-height: 3rem;
}

h5 {
  font-size: variables.$font-size-md;
  font-weight: 500;
}

p {
  font-size: variables.$font-size-base;
  line-height: variables.$line-height;
}

.error {
  font-size: variables.$font-size-sm;
  color: rgba(255, 0, 0, 1);
}

// li {
//   font-size: 1.2rem;
// }

a {
  text-decoration-style: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: rgb(150, 150, 150);
}

// a:visited,
a:active {
  color: rgb(0, 204, 255);
}
