@use '../../styles/mixins';

.skill-section {
  @include mixins.flex-dir-ai-jc-gap(column, initial, initial, 2rem);
}

.img-language {
  width: 30px;
  max-height: 30px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 600px) {
  .skill-section,
  .skill-content,
  .skill-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-section,
  .skill-content {
    gap: 3rem;
  }
}
