.contact-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.contact-content {
  display: flex;
  gap: 3rem;
}

.contact-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-btn-group {
  display: flex;
  gap: 2rem;
}

.contact-extra-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.button-primary,
.button-reset {
  height: 20px;
  padding: 1.7rem;
}

.contact-email-container {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.contact-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.contact-icon .active {
  color: rgba(1, 254, 9, 1);
  animation: scaled 2000ms ease;
}

.contact-copy-tooltip {
  // animation: 3s infinite ease slidein;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

@keyframes scaled {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

// @keyframes slidein {
//   from {
//     width: 0%;
//   }

//   to {
//     width: 100%;
//   }
// }

@media screen and (max-width: 600px) {
  .contact-container {
    gap: 4rem;
  }
  .contact-content {
    flex-direction: column;
  }

  .contact-extra-info,
  .contact-form-container {
    width: 100%;
  }
}
