@use '../../styles/mixins';

.carousel-container {
  @include mixins.flex-dir-ai-jc-gap(column, initial, initial, 2rem);
  max-width: 100rem;
}

.carousel-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(150, 150, 150);
}

.carousel-header-items {
  @include mixins.flex-dir-ai-jc-gap(row, center, space-between, 2rem);
}

.carousel-content {
  @include mixins.flex-dir-ai-jc-gap(row, flex-start, space-between, 14rem);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  overflow: -moz-scrollbars-none; /* Firefox */
  scroll-snap-type: x proximity;
  padding-bottom: 1rem;
}

// .carousel-content > article {
//   scroll-snap-align: start;
//   scroll-snap-stop: always;
//   -webkit-overflow-scrolling: touch;
// }

/* Safari and Chrome */
.carousel-content::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .carousel-header {
    display: none;
  }

  .carousel-content {
    flex-direction: column;
    padding: 0;
  }
}
