.carousel-container {
  display: flex;
  flex-direction: column;
  width: 100rem;
}

.carousel-header {
  width: 100rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(150, 150, 150);
}

.carousel-header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100rem;
}

.carousel-content {
}

.carousel-content-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  overflow: -moz-scrollbars-none; /* Firefox */
  scroll-snap-type: x proximity;
}

/* Safari and Chrome */
.carousel-content-items::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .carousel-header {
    display: none;
  }

  section {
    width: 100%;
  }

  .carousel-content,
  .carousel-content-items {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
