.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.navbar-link,
.navbar-mode,
.navbar-toggle,
.navbar-theme {
  cursor: pointer;
}

.navbar-link a {
  text-decoration: none;
  color: inherit;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.navbar-theme {
  transition: all 0.5s;
}

@media screen and (max-width: 600px) {
  .navbar-links {
    display: none;
  }
}
