.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.navbar-link,
.navbar-mode {
  cursor: pointer;
}

.navbar-mode {
  transition: all 0.3s;
}
