.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.navbar-link,
.navbar-mode,
.navbar-toggle,
.navbar-theme {
  cursor: pointer;
}

.navbar-link a {
  text-decoration: none;
  color: inherit;
}

.navbar-theme {
  transition: all 0.5s;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
}
