.infinite-square-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 50px;
  animation: zooming 10s ease-in-out infinite;
}

.square {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 10px;
  border: 3px solid #087be6; // orignally 5px
  box-shadow: 0px 0px 20px #00ccff, inset 0px 0px 20px #00ccff, 0px 0px 60px #ff00c8,
    inset 0px 0px 60px #ff00c8;
  filter: brightness(1.5) contrast(2);
  animation: flickering 8s ease alternate, breathing 3s ease-out infinite;
  // entering 10s ease-in alternate;
}

// @mixin transition {
@for $i from 1 through 10 {
  .square:nth-child(#{$i}) {
    transform: rotate(40deg) translateY(#{($i - 1) * 50}px) translateZ(#{($i - 1) * -10}px);
    opacity: 1 - ($i * 0.1);
    animation-delay: #{$i * 0.2}s;
  }
}
// }

@keyframes flickering {
  0% {
    box-shadow: none;
  }
  10% {
    box-shadow: 0px 0px 20px #00ccff, inset 0px 0px 20px #00ccff, 0px 0px 60px #ff00c8,
      inset 0px 0px 60px #ff00c8;
  }
  // 20% {
  //   box-shadow: none;
  // }
  // 25% {
  //   box-shadow: 0px 0px 20px #00ccff, inset 0px 0px 20px #00ccff, 0px 0px 60px #ff00c8,
  //     inset 0px 0px 60px #ff00c8;
  // }
  50% {
    box-shadow: none;
  }
  70% {
    box-shadow: 0px 0px 20px #00ccff, inset 0px 0px 20px #00ccff, 0px 0px 60px #ff00c8,
      inset 0px 0px 60px #ff00c8;
  }
  80% {
    box-shadow: none;
  }
  85% {
    box-shadow: 0px 0px 20px #00ccff, inset 0px 0px 20px #00ccff, 0px 0px 60px #ff00c8,
      inset 0px 0px 60px #ff00c8;
  }
  90% {
    box-shadow: none;
  }
  92% {
    box-shadow: 0px 0px 20px #00ccff, inset 0px 0px 20px #00ccff, 0px 0px 60px #ff00c8,
      inset 0px 0px 60px #ff00c8;
  }
  94% {
    box-shadow: none;
  }
  96% {
    box-shadow: 0px 0px 20px #00ccff, inset 0px 0px 20px #00ccff, 0px 0px 60px #ff00c8,
      inset 0px 0px 60px #ff00c8;
  }
  98% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0px 0px 20px #00ccff, inset 0px 0px 20px #00ccff, 0px 0px 60px #ff00c8,
      inset 0px 0px 60px #ff00c8;
  }
}

@keyframes breathing {
  0% {
    filter: brightness(1.5) contrast(3);
  }
  50% {
    filter: brightness(1.2) contrast(2);
  }
  100% {
    filter: brightness(1.5) contrast(3);
  }
}

@keyframes entering {
  0% {
    scale: 1;
  }
  100% {
    scale: 10;
  }
}

@keyframes zooming {
  0% {
    perspective: 45px;
  }
  50% {
    perspective: 50px;
  }
  100% {
    perspective: 45px;
  }
}
