.main-page-container {
  display: flex;
  gap: 2rem;
  // overflow-x: scroll;
  width: 100%;
}

.experience-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .main-page-container {
    padding: 1.5rem;
  }

  .experience-container {
    width: 100%;
  }
}
