.resume-item-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 3rem;
  width: 100rem;
  height: auto;
  white-space: pre-wrap;
  padding: 0 1rem;
}

.resume-item-overview {
  display: flex;
  gap: 3rem;
}

.resume-item-overview-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  width: 50%;
}

.resume-item-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .resume-item-contianer,
  .resume-item-overview {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .resume-item-container {
    flex: none;
    white-space: normal;
  }

  .resume-item-overview {
    overflow-x: none;
    overflow-y: none;
  }
}
