.resume-item-container {
  display: flex;
  // flex-direction: column;
  // flex: 0 0 auto;
  gap: 3rem;
  // width: 80rem;
  height: auto;
  padding: 2rem 0;
  // scroll-snap-type: x proximity;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.resume-item-wrapper {
  display: flex;
  flex-direction: column;
  width: 100rem;
  gap: 2rem;
  // scroll-snap-align: center;
  // scroll-snap-stop: always;
}

.resume-item-overview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.resume-item-section {
  display: flex;
  flex-direction: column;
}

.resume-item-location {
  font-style: italic;
}

.resume-item-description {
  font-weight: 600;
}

.resume-item-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 1.5rem;
}

.resume-item-list-item {
  display: list-item;
  white-space: pre-wrap;
  list-style: initial;
  list-style-type: initial;
}

@media screen and (max-width: 600px) {
  .resume-item-contianer,
  .resume-item-overview {
    flex-direction: column;
    padding: 0;
  }

  .resume-item-container {
    flex: none;
    white-space: normal;
  }

  .resume-item-overview {
    overflow-x: none;
    overflow-y: none;
  }
}
