@use '../../styles/mixins';

// Align everything (titles, text, download button)
// Remove bullet points
// Center Resume page title

.resume-item-overview {
  @include mixins.flex-dir-ai-jc-gap(column, initial, initial, 2rem);
  flex-wrap: wrap;
}

.resume-item-location {
  font-style: italic;
}

.resume-item-description {
  font-weight: 600;
}

.resume-list-item {
  margin-left: 1.5rem;
  display: list-item;
  white-space: pre-wrap;
  list-style: initial;
  list-style-type: initial;
}

@media screen and (max-width: 600px) {
  .resume-item-overview {
    flex-direction: column;
    padding: 0;
    width: 100%;
    overflow-x: none;
    overflow-y: none;
  }
}
