@use '../../styles/mixins';

.project-item-container {
  @include mixins.flex-dir-ai-jc-gap(column, initial, initial, 0);
  display: flex;
  flex-direction: column;
  flex: none;
  gap: 3rem;
  width: 100rem;
  height: 100%;
  white-space: pre-wrap;
  // padding: 0 1rem;
  // scroll-snap-align: start;
  // scroll-snap-stop: always;
  -webkit-overflow-scrolling: touch;
}

.project-item-overview {
  @include mixins.flex-dir-ai-jc-gap(row, flex-start, space-between, 4rem);
}

.project-item-overview-section {
  @include mixins.flex-dir-ai-jc-gap(column, initial, initial, 2rem);
  // flex-wrap: wrap;
}

.project-item-section {
  @include mixins.flex-dir-ai-jc-gap(column, initial, initial, 2rem);
}

.project-item-list {
  @include mixins.flex-dir-ai-jc-gap(row, initial, initial, 2rem);
  margin-left: 0.5rem;
}

.project-item-links {
  @include mixins.flex-dir-ai-jc-gap(row, center, space-evenly, 3rem);
}

.link-disabled {
  // text-decoration: line-through;
  pointer-events: none;
}

.link-disabled:hover {
  cursor: not-allowed;
}

// .project-item-img {
//   @include mixins.width-height(min, min, 100%, 100%);
// }

.project-item-img video {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  // .project-item-container,
  .project-item-overview,
  .project-item-overview-section {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .project-item-container {
    flex: none;
    white-space: normal;
  }

  .project-item-overview {
    overflow-x: none;
    overflow-y: none;
  }
}
