.project-item-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 3rem;
  width: 100rem;
  height: auto;
  white-space: pre-wrap;
  // padding: 0 1rem;
}

.project-item-overview {
  display: flex;
  gap: 3rem;
}

.project-item-overview-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  width: 50%;
}

.project-item-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-item-list {
  display: flex;
  gap: 2rem;
  margin-left: 1.5rem;
}

.project-item-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

@media screen and (max-width: 600px) {
  .project-item-container,
  .project-item-overview,
  .project-item-overview-section {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .project-item-container {
    flex: none;
    white-space: normal;
  }

  .project-item-overview {
    overflow-x: none;
    overflow-y: none;
  }
}
